body {
    color: rgb(225, 230, 235);
    font-size: 20px;
}


.contenedor {
    width: 30%;
    height: 300px;
    background-color: rgb(103, 160, 226);
}

.centrado {
    margin: 0 auto;
}

span {
    border: 1px solid black;
    padding: 0.4em;
}


.aparece {
    display: block;
}

.desaparece {
    display: none;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}